<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
        </div>
      </div>
    </div>


    <textarea class="form-control" aria-label="With textarea" (input)="onInputChange($event)"></textarea>

    <!-- Display the parsed input text -->
    <p>{{ inputText }}</p>
  </section>
</main>
